@font-face {
	src: url(/resources/fonts/AGaramondPro-Regular.ttf);
	font-family: 'AGaramondPro-Regular';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'AGaramondPro-Regular';
	text-decoration: none;
	/* color: #000; */
}

html, body {
	height: 100%;
	width: 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.container {
	height: 100%;
	max-width: 1240px;
	padding: 0px 20px;
	margin: 0 auto;
}

header {
	border-bottom: 2px solid black;
	height: 70px;
}

.logo {
	font-size: 34px;
}

.header_flex {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	height: 100%;
}

footer {
	display: flex;
	flex-direction: column;
	gap: 7px;
	justify-content: center;
	align-items: center;
	border-top: 2px solid black;
	height: 70px;
}

.menu {
	display: flex;
	gap: 20px;
	margin: 0px 20px;
}


/* WELCOME */

.welcome_block {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.welcome_btn_block {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.welcome_btn {
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 20px;
}


/* AUTHORIZATION AND REGISTRATION*/

.auth_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.auth_block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: center;
	border-radius: 20px;
	border: 2px solid black;
	max-width: 400px;
	width: 100%;
	padding: 20px;
}

.label_text {
	margin: 0px 0px 5px 0px;
}

.form_label {
	width: 100%;
	height: 100%;
}

.label_input {
	width: 100%;
	min-height: 35px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 7px 10px;
}

.label_btn {
	width: 100%;
	min-height: 35px;
	border: 2px solid black;
	border-radius: 20px;
	background: #fff;
	font-size: 20px;
	cursor: pointer;
}

.label_btn:hover {
	background: #000;
	color: #fff;
}

.form_title {
	margin: 0px 0px 40px 0px;
}

.required {
	color: #E77555;
}